sphinx
nbsphinx
sphinx-rtd-theme >= 1.0, < 2.0
sphinxcontrib-napoleon
sphinx-autodoc-napoleon-typehints
docutils
myst-parser
# Note: The 'pandoc' pip package is just a Python wrapper.
# The actual pandoc executable must be installed via conda:
#   conda install -c conda-forge pandoc
# pandoc
