name: CI

on:
  push:
    branches: [ main, master, docs ]
  pull_request:
    branches: [ main, master, docs ]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.12']
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ruff jax jaxlib numpy pytest
        
    - name: Run ruff
      run: |
        ruff check . --ignore F403,F405
        
  test:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.12']
        
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install jax jaxlib numpy pytest matplotlib plotly optax diffrax h5py xarray h5netcdf
        
    - name: Run tests
      run: |
        pytest test
        
  # script-test:
  #   needs: test
  #   runs-on: ubuntu-latest
  #   strategy:
  #     matrix:
  #       python-version: ['3.12']
  #       script: [
  #         'polar_helicity.py',
  #         'cube_relaxation.py',
  #         'relaxation.py',
  #         'two_d_helicity.py',
  #         'polar_relaxation.py',
  #         'conjugate.py',
  #         'oop_splines.py',
  #         'two_d_poisson.py',
  #         'polar_poisson.py',
  #         'three_d_poisson.py',
  #         'two_d_poisson_mixed.py',
  #         'Beltrami.py',
  #         'two_d_helmhotz_decomposition.py'
  #       ]
        
  #   steps:
  #   - uses: actions/checkout@v4
    
  #   - name: Set up Python ${{ matrix.python-version }}
  #     uses: actions/setup-python@v5
  #     with:
  #       python-version: ${{ matrix.python-version }}
        
  #   - name: Install dependencies
  #     run: |
  #       python -m pip install --upgrade pip
  #       pip install jax[cuda12] jaxlib numpy optax diffrax h5py xarray h5netcdf

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Upgrade pip and install mrx
        run: |
          python -m pip install --upgrade pip
          pip install -e .

      - name: Install sphinx and its dependencies for building docs
        run: |
          pip install -r docs/requirements.txt

      - name: Install doxygen
        run: sudo apt install doxygen

      - name: Build docs
        run: |
          cd docs
          sphinx-build -b html source build
